/* Reset & Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter", system-ui, Arial, sans-serif;
  background: #f0f5f3;
  color: #111;
  overflow: hidden;
}

/* Layout wrapper */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* Header full width, fixed height */
header {
  width: 100%;
  height: 60px;
  background-color: #F0F5F3;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  flex-shrink: 0;
}

/* Sidebar + content below header */
.body-section {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 60px); 
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 80px;
  background-color: #F0F5F3;
  height: 100%;
  overflow: auto;
  padding-top: 5px;
}

/* Main content (fit remaining space) */
.content-area {
  flex: 1;
  background: #ffffff;
  padding: 10px;
  height: 100%;
  border-radius: 32px;
  overflow: auto;

}