.analytics-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 90vh;   
  box-sizing: border-box;
  overflow: hidden;
 
}

.analytics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  flex-grow: 1;
  min-height: 0;
}


.blurred {
  filter: blur(5px);
  opacity: 0.4;
  pointer-events: none;
  transition: all 0.3s ease;
}
