.analytics-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: visible !important;
}


.analytics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  gap: 20px;
  flex-grow: 1;
  align-items: stretch;
}



.blurred {
  filter: blur(5px);
  opacity: 0.4;
  pointer-events: none;
  transition: all 0.3s ease;
}
