.chart-card {
  background: #f0f5f3;
  border: 2px solid #d9d9d9;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.chart-header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 5px;
}

.header-text-section {
  width: 100%;
}

.placeholder-text {
  font-size: 10px;
  color: #9ca3af;
  margin: 0;
}

.revenue-divider {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 6px 0 8px 0;
  width: 118%;
}

.time-filter {
  position: relative;
  display: inline-block;
  margin-top:  -30px ;
}

.time-filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 4px 20px 4px 10px;
  font-size: 12px;
  cursor: pointer;
  color: #374151;
}

.dropdown-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #6b7280;
  pointer-events: none;
}

.revenue-chart-container {
  background-color: #ffffff;
  border-radius: 10px;
  height: 42vh;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
  padding: 10px;
}
