.dm-overlay {
    position: fixed;
    inset: 0;
    background: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    backdrop-filter: blur(1px);
    overflow-y: auto;
    padding-top: 40px;
}

.dm-card {
    background: transparent;
    border-radius: 10px;
    width: 95%;
    max-width: 368px;
    height: 370px;
    padding: 20px 25px;
    animation: scaleIn 0.3s ease;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@keyframes slideDown {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.dm-card h3 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 18px;
    text-align: center;
}

.form-group {
  text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s ease;
}

.form-group input:focus {
    border-color: #4085a1;
    background: #F4F2F2;
}


.dm-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-save {
    width: 35%;
    background: #000;
    border: none;
    color: white;
    font-size: 16px;
    padding: 12px 0;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn-save:hover {
    background: #111;
}

.btn-save:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}