/* Whole Page Layout */
.add-product-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff; 
}

/* Center Container */
.form-container {
  background: #F0F5F3;
  border: 2px solid #F0F5F3;
  padding: 25px 35px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  font-size: 24px;
  color: #1f2937;
  margin-bottom: 18px;
  text-align: center;
}

/* Form */
.add-product-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px 20px;
  width: 100%;
}

/* Inputs */
.add-product-form input,
.add-product-form select,
.add-product-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
}

.add-product-form textarea {
  resize: none;
  min-height: 80px;
  grid-column: 1 / -1;
}

/* Image Upload */
.image-upload {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.upload-box {
  width: 200px;
  height: 100px;
  background: #e7e4e4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 14px;
}

.preview-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #e5e7eb;
}

.file-input {
  font-size: 13px;
  color: #374151;
}

/* Submit Button */
.add-product-form button {
  grid-column: 1 / -1;
  padding: 12px;
  border-radius: 8px;
  background: #16a34a;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.add-product-form button:hover {
  background: #15803d;
}
