.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px; 
  padding-top: 20px;
  justify-content: center;
}


.menu-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-page {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}


.menu-page.blur-bg {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: #3a3b3a;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.add-btn:hover {
  background: #caebd7;
}