/* === ORDER LINE PAGE WRAPPER === */
.orderline-wrapper {
  width:100%; 
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0; 
  box-sizing: border-box;
  margin: 80px 0 0 0; 
  background-color: #ffffff;
  border-radius: 12px;
}

.orders-page-wrapper {
  width: 100%;
  max-width: 1400px;
  border-radius: 20px;
  padding: 20px 25px;
  box-sizing: border-box;
}

.orders-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  color: #111;
  text-align: left;
  margin-top: -100px;
}

.order-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px; 
  width: 100%;
  padding: 0; 
  box-sizing: border-box;
}